<h1>Hello Strava User</h1>
<br />
<br />
<a href="https://www.strava.com/oauth/authorize?client_id=12820&response_type=code&redirect_uri=<%= @app_url %>/mystats/show&scope=view_private&approval_prompt=auto">Login With Strava</a>
<br />
<br />


