<!DOCTYPE html>
<html>
  <head>
    <title>Your Commute Stats!</title>
    <%= csrf_meta_tags %>
	<link rel="stylesheet" type="text/css" href="/assets/application.css" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
